* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
  font-weight: normal;
}
h3 {
  font-size: 3rem;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  text-decoration: none;
  color: white;
}
button {
  padding: 1.5rem 5.5rem;
  background: rgb(159, 125, 60);
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

.main-head {
  background: rgb(68, 59, 42);
  color: white;
}
nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  align-items: center;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
#logo {
  flex: 2 1 40rem;
  font-weight: normal;
  font-family: "Carter One", cursive;
}

.hero {
  background: linear-gradient(rgb(32, 31, 31), transparent),
    url(/assets/images/coding.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h3 {
  padding: 2rem;
}

.about-me {
  width: 100%;
  height: 100vh;
  padding: 10rem 0rem;
  background-color: #9896c4;
}
.about-me img {
  height: auto;
  width: 43rem;
}
.about-text {
  width: 55rem;
}
.about-main {
  width: 130rem;
  max-width: 95%;
  margin: 0rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h3 {
  color: white;

  font-size: 4.5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.about-text p {
  color: antiquewhite;
  letter-spacing: 0.1rem;
  line-height: 2.8rem;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.projects-head {
  background: #443b2a;
  padding: auto;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.projects-head h3 {
  padding: 1rem;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}
.project-card {
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
}
.cards img {
  height: 22rem;
  width: auto;
}

#contact-me {
  min-height: 100vh;
  background: rgb(211 189 214);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 60%;
  color: rgb(169, 120, 120);
  border-radius: 20px;
}
.form-head {
  text-align: center;
  padding: 4rem;
}
.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}
.form-wrapper label {
  margin: 0rem 3rem;
}
.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.form-wrapper input {
  padding: 1rem 3rem;
}
