* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Maven Pro", sans-serif;
}
h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
  font-weight: normal;
}
h3 {
  font-size: 3rem;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  text-decoration: none;
  color: white;
}
button {
  padding: 1.5rem 5.5rem;
  background: rgb(159, 125, 60);
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

.main-head {
  background: rgb(68, 59, 42);
  color: white;
}
nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
#logo {
  flex: 2 1 40rem;
  font-weight: normal;
  font-family: "Carter One", cursive;
}

.hero {
  background: linear-gradient(rgb(32, 31, 31), transparent),
    url(/assets/images/coding.jpg);
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h3 {
  padding: 2rem;
}
